<div class="home__container">
	<app-card
	gameCover="assets/bt-1.jpg"
	gameLabel="Digital"
	gameType="DIGITAL | PS4"
	gamePrice="129,99"
	></app-card>
	<app-card
	gameCover="assets/bt-4.jpg"
	gameLabel="Exclusive!"
	gameType="DISC | PS3 PS4 PS5"
	gamePrice="99,99"
	></app-card>
	<app-card
	gameCover="assets/bt-5.jpg"
	gameLabel="Best of Year"
	gameType="DIGITAL | PS4"
	gamePrice="229,99"
	></app-card>
	<app-card
	gameCover="assets/bt-bad-company-2.jpg"
	gameLabel="Exclusive!"
	gameType="DISC | PS5"
	gamePrice="99,99"
	></app-card>
	<app-card
	gameCover="assets/bt-hardline.jpg"
	gameLabel="Digital"
	gameType="DIGITAL | PS4"
	gamePrice="119,99"
	></app-card>
	<app-card
	gameCover="assets/ac-cover.jpg"
	gameLabel="NEW"
	gameType="DISC | PS5"
	gamePrice="199,99"
	></app-card>
</div>
